$grey-color: #c3c3c3;
$whiteTeal-color: #FBFFFE;
$celestialBlue-color: #1e91d6;
$darkBlue-color: #1f01b9;

// FILTERS (TWO VALUE RANGE SLIDERS) //

input[type="range"] {
    appearance: none; // must be none for custom appearance
    -webkit-appearance: none; // must be none for custom appearance
    height: 3px; // height of range line
    width: 100%; // width must be 100%
    position: absolute; // must be absolute for multiple range value effect 
    background-color: $grey-color; // grey color
    pointer-events: none; // Remove range interaction (line)
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all; // Active range thumb interaction (circle)
      width: 18px;
      height: 18px;
      background-color: $whiteTeal-color;
      border: 1px solid $grey-color;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $whiteTeal-color;
      cursor: pointer;
  
      &:hover {
        background-color: $celestialBlue-color;
      }
  
      &:active {
        box-shadow: inset 0 0 3px $celestialBlue-color, 0 0 9px $celestialBlue-color;
        -webkit-box-shadow: inset 0 0 3px $celestialBlue-color, 0 0 9px $celestialBlue-color;
      }
    }
  
    &::-moz-range-thumb {
      pointer-events: all; // Active range thumb interaction (circle)
      width: 18px;
      height: 18px;
      background-color: $whiteTeal-color;
      border: 1px solid $grey-color;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $whiteTeal-color;
      cursor: pointer; 
      
      &:hover {
        background-color: $celestialBlue-color;
      }
    }
  }
  
  #range-min-price,
  #range-min-year,
  #range-min-km {
    top: 1.5px;
    height: 0; // must be 0 for multiple range value effect
    z-index: 10; // must be 10 for multiple range value effect
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
  }