@tailwind base;
@tailwind components;
@tailwind utilities;

/* MAIN */

.preload * {
  transition: none !important;
}

/* BACKGROUND IMAGES */

.bg-homeHeadingImg {
  background-image: url('../../../static/garage/images/pictures/img-15.jpg');
  background-image: image-set(
    url("../../../static/garage/images/pictures/img-15.webp") type("image/webp"),
    url("../../../static/garage/images/pictures/img-15.jpg") type("image/jpeg")
  );
}

.bg-vehiclesHeadingImg {
  background-image: url('../../../static/garage/images/pictures/img-20.jpg');
  background-image: image-set(
    url("../../../static/garage/images/pictures/img-20.webp") type("image/webp"),
    url("../../../static/garage/images/pictures/img-20.jpg") type("image/jpeg")
  );
}

.bg-contactHeadingImg {
  background-image: url('../../../static/garage/images/pictures/img-18.jpg');
  background-image: image-set(
    url("../../../static/garage/images/pictures/img-18.webp") type("image/webp"),
    url("../../../static/garage/images/pictures/img-18.jpg") type("image/jpeg")
  );
}

/* BUTTONS */

.btn-gradient-animation {
  background: linear-gradient(90deg, #1f01b9 0% 20%, #1e91d6 80% 100%);
  background-size: 400% 100%;
  background-position: 100% 0%;
  transition: all 300ms ease-in-out;
}
.btn-gradient-animation:hover {
  background-position: 0% 0%;
  transition: all 300ms ease-in-out;
}

/* MENU */

.menu-mobile-active {
  height: 214px !important;
}

/* INPUT RANGE */

/* RATING 5 STARS */

.range-stars {
  block-size: 2rem;
  inline-size: calc(2rem * var(--number));
  touch-action: manipulation;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  --value: 1;
  --number: 5;
  --percentage: calc(100% * (var(--value)/var(--number)));
}
.range-stars::-webkit-slider-runnable-track {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"/></svg>') left center/2rem repeat-x;
  -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"/></svg>') left center/2rem repeat-x;
  block-size: 100%;
  inline-size: calc(2rem * var(--number));
  background: linear-gradient(to right, #1e91d6 0 var(--percentage), #c3c3c3 0 var(--percentage));
}
.range-stars::-moz-range-track {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"/></svg>') left center/2rem repeat-x;
  block-size: 100%;
  inline-size: calc(2rem * var(--number));
  background: linear-gradient(to right, #1e91d6 0 var(--percentage), #c3c3c3 0 var(--percentage));
}
.range-stars::-moz-range-thumb {
  height: 2rem;
  width: 2rem;
  opacity: 0;
}
.range-stars::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  opacity: 0;
}

/* VEHICLES FILTERS */

.range-filters {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #c3c3c3;
  pointer-events: none;
}
.range-filters::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 18px;
  height: 18px;
  background-color: #FBFFFE;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #FBFFFE;
  cursor: pointer;
}
.range-filters::-webkit-slider-thumb:hover {
  background-color: #1e91d6;
}
.range-filters::-webkit-slider-thumb:active {
  background-color: #1e91d6;
  box-shadow: inset 0 0 2px #1e91d6, 0 0 4px #1e91d6;
  -webkit-box-shadow: inset 0 0 2px #1e91d6, 0 0 4px #1e91d6;
}
.range-filters::-moz-range-thumb {
  pointer-events: all;
  width: 18px;
  height: 18px;
  background-color: #FBFFFE;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #FBFFFE;
  cursor: pointer;
}
.range-filters::-moz-range-thumb:hover {
  background-color: #1e91d6;
}

.range-filters::-moz-range-thumb:active {
  background-color: #1e91d6;
  box-shadow: inset 0 0 2px #1e91d6, 0 0 4px #1e91d6;
  -webkit-box-shadow: inset 0 0 2px #1e91d6, 0 0 4px #1e91d6;
}

#range-min-price,
#range-min-year,
#range-min-km {
  top: 1.5px;
  height: 0;
  z-index: 10;
}

