<div class="my-6 sm:my-8 lg:mx-4 max-w-md sm:max-w-lg md:max-w-xl">
    <div class="flex flex-col flex-nowrap justify-center items-center group bg-celestialBlue rounded mb-3 sm:mb-6 p-0 overflow-hidden">
        <div class="overflow-hidden h-auto max-h-72">
            <img class="group-hover:scale-110 group-hover:brightness-95 transition" src="{{ type.grouper.image }}"
                 alt="{{ type.grouper.name }}">
        </div>
        <h3 class="font-rasa text-whiteTeal uppercase text-xl my-3">
            {{ type.grouper.name }}
        </h3>
    </div>
    <ul class="list-disc font-medium text-onyx mt-4 ps-6 overflow-auto h-38">
        {% for service in type.list %}
            {% include 'garage/service/service.html' %}
        {% endfor %}
    </ul>
</div>