<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">
  <head>
    <!-- META-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FAVICON -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./assets/favicons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="./assets/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta
      name="msapplication-config"
      content="./assets/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- TAILWIND CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              onyx: "#454545",
              celestialBlue: "#1E91D6",
              whiteTeal: "#FBFFFE",
              rosyBrown: "#BF8B85",
              darkBlue: "#1F01B9",
              whiteTealForGradient: "#FBFFFECC",
            },
            fontFamily: {
              nobile: ["Nobile", "sans-serif"],
              rasa: ["Rasa", "serif"],
              rokkitt: ["Rokkitt", "serif"],
            },
            spacing: {
              128: "32rem",
            },
            height: {
              0.75: "0.1875rem",
            },
            margin: {
              0.75: "0.1875rem",
            },
            backgroundImage: {
              homeHeadingImg: "url('./assets/images/img-15.jpg')",
              vehiclesHeadingImg: "url('./assets/images/img-20.jpg')",
              contactHeadingImg: "url('assets/images/img-18.jpg')",
              vehiclesSectionGradient:
                "linear-gradient(0deg, #FBFFFE 0 10%, #454545 10% 90%, #FBFFFE 90% 100%)",
            },
            transitionProperty: {
              height: "height",
            },
          },
        },
      };
    </script>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./assets/style/main.css" />

    <!-- LEAFLET CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />

    <!-- GOOGLE FONTS : ROKKITT, RASA, NOBILE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Rasa:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rokkitt:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- TITLE & DESCRIPTION -->
    <title>Garage V.Parrot à Toulouse</title>
    <!-- TODO: changer le titre-->
    <meta name="description" content="" />
  </head>

  <!-- BODY -->
  <body class="preload font-nobile bg-whiteTeal">
    <!-- HEADER -->
    <header class="bg-onyx border-b border-celestialBlue">
      <nav
        class="flex flex-row flex-nowrap justify-between items-center h-16 xl:container mx-auto"
      >
        <div
          class="flex flex-row justify-center items-center ms-3 sm:ms-6 md:ms-8"
        >
          <a href="index.html">
            <img
              class="w-auto h-16"
              src="./assets/logos/Logo-icon-black.png"
              alt="Garage V.Parrot"
            />
          </a>
          <span class="font-bold text-whiteTeal text-lg pt-1">V.Parrot</span>
        </div>
        <ul
          class="lg:flex flex-row flex-nowrap hidden text-lg uppercase me-8 pt-1"
        >
          <li class="mx-3">
            <a
              class="text-whiteTeal transition hover:text-celestialBlue active:text-darkBlue"
              href="index.html"
              >Accueil</a
            >
          </li>
          <li class="mx-3">
            <a
              class="text-whiteTeal transition hover:text-celestialBlue active:text-darkBlue"
              href="index.html#services"
              >Services</a
            >
          </li>
          <li class="mx-3">
            <a
              class="text-whiteTeal transition hover:text-celestialBlue active:text-darkBlue"
              href="vehicles.html"
              >Véhicules d'occasion</a
            >
          </li>
          <li class="mx-3">
            <a
              class="text-whiteTeal transition hover:text-celestialBlue active:text-darkBlue"
              href="contact.html"
              >Contact</a
            >
          </li>
          <li class="mx-3 ps-6 border-s-2">
            <a
              class="text-whiteTeal transition hover:text-celestialBlue active:text-darkBlue"
              href="login.html"
              >Connexion</a
            >
          </li>
        </ul>
        <button type="button" id="btn-menu-mobile" class="lg:hidden">
          <div
            class="flex flex-col flex-nowrap justify-center items-center p-2 me-3 sm:me-6 md:me-8"
          >
            <div
              id="btn-menu-mobile-line1"
              class="h-0.75 w-7 my-0.75 rounded bg-whiteTeal transition ease-in transform duration-300"
            ></div>
            <div
              id="btn-menu-mobile-line2"
              class="h-0.75 w-7 my-0.75 rounded bg-whiteTeal transition ease-in transform duration-300"
            ></div>
            <div
              id="btn-menu-mobile-line3"
              class="h-0.75 w-7 my-0.75 rounded bg-whiteTeal transition ease-in transform duration-300"
            ></div>
          </div>
        </button>
      </nav>
      <div
        id="menu-mobile"
        class="flex flex-col flex-nowrap px-6 sm:px-8 md:px-12 bg-celestialBlue border-b-2 border-whiteTeal h-0 overflow-hidden transition-height duration-200 ease-in"
      >
        <ul class="font-medium text-lg uppercase">
          <li class="mt-6 mb-1">
            <a
              href="index.html"
              class="text-whiteTeal transition hover:text-onyx active:text-darkBlue hover:underline hover:underline-offset-4 hover:decoration-1"
              >Accueil</a
            >
          </li>
          <li class="mt-2 mb-1">
            <a
              href="index.html#services"
              class="text-whiteTeal transition hover:text-onyx active:text-darkBlue hover:underline hover:underline-offset-4 hover:decoration-1"
              >Services</a
            >
          </li>
          <li class="mt-2 mb-1">
            <a
              href="vehicles.html"
              class="text-whiteTeal transition hover:text-onyx active:text-darkBlue hover:underline hover:underline-offset-4 hover:decoration-1"
              >Véhicules d'occasion</a
            >
          </li>
          <li class="mt-2 mb-1">
            <a
              href="contact.html"
              class="text-whiteTeal transition hover:text-onyx active:text-darkBlue hover:underline hover:underline-offset-4 hover:decoration-1"
              >Contact</a
            >
          </li>
          <li class="mt-2 mb-1">
            <a
              href="login.html"
              class="text-whiteTeal transition hover:text-onyx active:text-darkBlue hover:underline hover:underline-offset-4 hover:decoration-1"
              >Connexion</a
            >
          </li>
        </ul>
      </div>
    </header>
    <!-- HEADER -->

    <!-- MAIN -->
    <main>
      <!-- SECTION HEADING-->
      <section class="bg-contactHeadingImg bg-cover bg-center">
        <div
          class="flex flex-col flex-nowrap justify-center items-center px-6 sm:px-8 md:px-14 py-8 sm:py-10 md:py-12 xl:container mx-auto"
        >
          <div
            class="self-start mb-6 sm:mb-8 max-w-xl sm:max-w-2xl md:max-w-none md:w-10/12"
          >
            <h1
              class="font-rokkitt font-bold text-2xl lg:text-4xl text-whiteTeal uppercase mb-3 lg:mt-32 drop-shadow-md"
            >
              Demande de contact
            </h1>
          </div>
        </div>
      </section>
      <!-- END SECTION HEADING-->

      <!-- SECTION CONTACT-->
      <section id="contact">
        <div
          class="flex flex-col flex-nowrap justify-center items-center px-8 pt-12 pb-4 xl:mx-2 bg-whiteTeal"
        >
          <h2 class="font-rasa text-celestialBlue uppercase mb-4 hidden">
            Contact
          </h2>
          <div class="mt-2 mb-8">
            <p class="text-onyx">
              Contacter nous par téléphone au
              <a class="font-medium" href="tel:+33561234567">05 61 23 45 67</a>
              ou en remplissant notre
              <span class="font-medium">formulaire de contact</span> en ligne :
            </p>
          </div>
          <form
            id="form-contact"
            class="flex flex-col flex-nowrap justify-center w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl"
            action=""
            method="post"
          >
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-6 gap-y-4 mb-4">
              <div class="flex flex-col flex-nowrap">
                <label
                  class="text-celestialBlue font-medium text-sm my-1"
                  for="form-contact-firstname"
                  >Prénom</label
                >
                <input
                  class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus:outline focus:outline-transparent rounded-md h-9 px-2"
                  type="text"
                  name="form-contact-firstname"
                  id="form-contact-firstname"
                  required
                />
              </div>
              <div class="flex flex-col flex-nowrap">
                <label
                  class="text-celestialBlue font-medium text-sm my-1"
                  for="form-contact-lastname"
                  >Nom</label
                >
                <input
                  class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md h-9 px-2"
                  type="text"
                  name="form-contact-lastname"
                  id="form-contact-lastname"
                  required
                />
              </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-6 gap-y-4 mb-4">
              <div class="flex flex-col flex-nowrap">
                <label
                  class="text-celestialBlue font-medium text-sm my-1"
                  for="form-contact-email"
                  >Email</label
                >
                <input
                  class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md h-9 px-2"
                  type="email"
                  name="form-contact-email"
                  id="form-contact-email"
                  required
                />
              </div>
              <div class="flex flex-col flex-nowrap">
                <label
                  class="text-celestialBlue font-medium text-sm my-1"
                  for="form-contact-number"
                  >Téléphone</label
                >
                <input
                  class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md h-9 px-2"
                  type="tel"
                  name="form-contact-number"
                  id="form-contact-number"
                  required
                />
              </div>
            </div>
            <div
              class="flex flex-col flex-nowrap justify-center container my-6"
            >
              <div class="flex flex-col flex-nowrap mb-4">
                <label
                  class="text-celestialBlue font-medium text-sm my-1"
                  for="form-contact-subject"
                  >Sujet</label
                >
                <input
                  class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md h-9 px-2"
                  type="text"
                  name="form-contact-subject"
                  id="form-contact-subject"
                />
              </div>
              <div class="flex flex-col flex-nowrap mb-4">
                <label
                  class="text-celestialBlue font-medium text-sm my-1"
                  for="form-contact-message"
                  >Message</label
                >
                <textarea
                  class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md min-h-[120px] h-9 px-2"
                  name="form-contact-message"
                  id="form-contact-message"
                  cols="30"
                  rows="10"
                  required
                ></textarea>
              </div>
            </div>
            <div class="flex flex-row flex-nowrap justify-center items-center">
              <button
                id="form-contact-submit"
                class="font-regular text-whiteTeal text-center uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation hover:btn-gradient-animation-active pt-3 pb-2 px-4 m-8 drop-shadow-md rounded"
              >
                Envoyer
              </button>
            </div>
          </form>
        </div>
      </section>
      <!-- END SECTION CONTACT-->
    </main>

    <!-- FOOTER -->
    <footer>
      <section id="opening-time" class="bg-celestialBlue">
        <div
          class="flex flex-row justify-evenly items-center lg:container mx-auto"
        >
          <div
            class="flex flex-col flex-nowrap justify-center items-center md:items-start px-4 sm:px-6 md:px-4 py-10 sm:py-12"
          >
            <h2 class="font-rasa text-whiteTeal text-xl uppercase mb-4 sm:mb-6">
              Horaires d'ouverture
            </h2>
            <div class="grid grid-cols-5 grid-rows-7 gap-y-2 text-whiteTeal">
              <div>Lun.</div>
              <div class="col-span-4">: 08h30-12h00, 14h00 - 18h30</div>
              <div>Mar.</div>
              <div class="col-span-4">: 08h30-12h00, 14h00 - 18h30</div>
              <div>Mer.</div>
              <div class="col-span-4">: 09h00-12h00, 14h00 - 17h00</div>
              <div>Jeu.</div>
              <div class="col-span-4">: 08h30-12h00, 14h00 - 18h30</div>
              <div>Ven.</div>
              <div class="col-span-4">: 08h30-12h00, 14h00 - 18h30</div>
              <div>Sam.</div>
              <div class="col-span-4">: 08h30-12h00</div>
              <div>Dim.</div>
              <div class="col-span-4">: Fermé</div>
            </div>
          </div>
          <div
            id="leaflet-map"
            class="hidden md:block md:h-56 md:w-80 lg:h-64 lg:w-96 xl:h-72 xl:w-128 px-4 z-0 rounded-sm"
          ></div>
        </div>
      </section>

      <section id="address-infos" class="bg-onyx">
        <div
          class="flex flex-col sm:flex-row flex-nowrap justify-center sm:justify-evenly items-center text-center sm:text-left px-4 sm:px-6 md:px-8 py-4 sm:py-6 text-whiteTeal md:container mx-auto"
        >
          <h2 class="font-rasa text-xl uppercase mb-4 hidden">
            Adresse et informations
          </h2>
          <picture>
            <source
              srcset="./assets/logos/Logo-black.png"
              media="all"
              width="200px"
            />
            <img src="./assets/logos/Logo-black.png" alt="#" />
          </picture>
          <div class="w-12 sm:hidden">
            <hr class="rounded" />
          </div>
          <nav class="my-4 sm:my-0 sm:mx-2 sm:me-4 md:mx-6 md:me-8">
            <ul>
              <li class="mb-1">
                <a
                  class="transition hover:text-celestialBlue active:text-darkBlue"
                  href="index.html#about"
                  >Présentation</a
                >
              </li>
              <li class="mb-1">
                <a
                  class="transition hover:text-celestialBlue active:text-darkBlue"
                  href="index.html#services"
                  >Nos Services</a
                >
              </li>
              <li class="mb-1">
                <a
                  class="transition hover:text-celestialBlue active:text-darkBlue"
                  href="index.html#reviews"
                  >Témoignages</a
                >
              </li>
              <li class="mb-1">
                <a
                  class="transition hover:text-celestialBlue active:text-darkBlue"
                  href="vehicles.html"
                  >Véhicules d'occasion</a
                >
              </li>
              <li class="mb-1">
                <a
                  class="transition hover:text-celestialBlue active:text-darkBlue"
                  href="#opening-time"
                  >Nos horaires</a
                >
              </li>
              <li class="mb-1">
                <a
                  class="transition hover:text-celestialBlue active:text-darkBlue"
                  href="contact.html"
                  >Nous contacter</a
                >
              </li>
            </ul>
          </nav>
          <div class="w-12 sm:hidden">
            <hr class="rounded" />
          </div>
          <div class="flex flex-col flex-nowrap sm:mx-8 md:mx-12">
            <div class="text-sm my-4 sm:mt-0 leading-relaxed">
              <p>Garage V.Parrot</p>
              <p>
                11 Rue Léon Jouhaux<br />
                31500 Toulouse
              </p>
              <p>Tel. : <a href="tel:+33561234567">05 61 23 45 67</a></p>
            </div>
            <p
              class="sm:flex sm:flex-col sm:flex-nowrap text-xs leading-normal"
            >
              Garage V.Parrot ©2023
              <span class="sm:hidden">-</span>
              <a
                class="transition hover:text-celestialBlue hover:underline active:text-darkBlue"
                href="./legal-notice.html"
                >Mentions légales
              </a>
              <span class="sm:hidden">-</span>
              <a
                class="transition hover:text-celestialBlue hover:underline active:text-darkBlue"
                href="./privacy-policy.html"
                >Politique de confidentialité des données
              </a>
            </p>
          </div>
        </div>
      </section>
    </footer>
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/leaflet.js"></script>
  </body>
</html>
