{% extends "garage/base.html" %}
{% load static %}

<!-- TODO: changer le titre-->
{% block title %}Contact | Garage V.Parrot à Toulouse{% endblock %}
<!-- TODO: add description -->
{% block meta-description %}
Contactez nous par téléphone au 05 61 23 45 67,
en remplissant notre formulaire de contact en ligne.
ou en nous envoyant un email à
l'adresse contact@garage-vparrot.clementfloret.fr.
{% endblock %}

<!-- MAIN -->
{% block main %}
<main>
  <!-- SECTION HEADING-->
  <section class="bg-contactHeadingImg bg-cover bg-center">
    <div
      class="flex flex-col flex-nowrap justify-center items-center px-6 sm:px-8 md:px-14 py-8 sm:py-10 md:py-12 xl:container mx-auto"
    >
      <div
        class="self-start mb-6 sm:mb-8 max-w-xl sm:max-w-2xl md:max-w-none md:w-10/12"
      >
        <h1
          class="font-rokkitt font-bold text-2xl lg:text-4xl text-whiteTeal uppercase mb-3 lg:mt-32 drop-shadow-md"
        >
          Demande de contact
        </h1>
      </div>
    </div>
  </section>
  <!-- END SECTION HEADING-->

  <!-- SECTION CONTACT-->
  <section id="contact">
    <div
      class="flex flex-col flex-nowrap justify-center items-center px-8 pt-12 pb-4 xl:mx-2 bg-whiteTeal"
    >
      <h2 class="font-rasa text-celestialBlue uppercase mb-4 hidden">
        Contact
      </h2>
      <div class="mt-2 mb-8">
        <p class="text-onyx">
          Contacter nous par téléphone au
          <a class="font-medium" href="tel:+33561234567">05 61 23 45 67</a>
          ou en remplissant notre
          <span class="font-medium">formulaire de contact</span> en ligne :
        </p>
      </div>
      <form
        id="form-contact"
        class="flex flex-col flex-nowrap justify-center w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl"
        action=""
        method="post"
      >
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-6 gap-y-4 mb-4">
          <div class="flex flex-col flex-nowrap">
            <label
              class="text-celestialBlue font-medium text-sm my-1"
              for="form-contact-firstname"
              >Prénom</label
            >
            <input
              class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus:outline focus:outline-transparent rounded-md h-9 px-2"
              type="text"
              name="form-contact-firstname"
              id="form-contact-firstname"
              required
            />
          </div>
          <div class="flex flex-col flex-nowrap">
            <label
              class="text-celestialBlue font-medium text-sm my-1"
              for="form-contact-lastname"
              >Nom</label
            >
            <input
              class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md h-9 px-2"
              type="text"
              name="form-contact-lastname"
              id="form-contact-lastname"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-6 gap-y-4 mb-4">
          <div class="flex flex-col flex-nowrap">
            <label
              class="text-celestialBlue font-medium text-sm my-1"
              for="form-contact-email"
              >Email</label
            >
            <input
              class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md h-9 px-2"
              type="email"
              name="form-contact-email"
              id="form-contact-email"
              required
            />
          </div>
          <div class="flex flex-col flex-nowrap">
            <label
              class="text-celestialBlue font-medium text-sm my-1"
              for="form-contact-number"
              >Téléphone</label
            >
            <input
              class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md h-9 px-2"
              type="tel"
              name="form-contact-number"
              id="form-contact-number"
              required
            />
          </div>
        </div>
        <div class="flex flex-col flex-nowrap justify-center container my-6">
          <div class="flex flex-col flex-nowrap mb-4">
            <label
              class="text-celestialBlue font-medium text-sm my-1"
              for="form-contact-subject"
              >Sujet</label
            >
            <input
              class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md h-9 px-2"
              type="text"
              name="form-contact-subject"
              id="form-contact-subject"
            />
          </div>
          <div class="flex flex-col flex-nowrap mb-4">
            <label
              class="text-celestialBlue font-medium text-sm my-1"
              for="form-contact-message"
              >Message</label
            >
            <textarea
              class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md min-h-[120px] h-9 px-2"
              name="form-contact-message"
              id="form-contact-message"
              cols="30"
              rows="10"
              required
            ></textarea>
          </div>
        </div>
        <div class="flex flex-row flex-nowrap justify-center items-center">
          <button
            id="form-contact-submit"
            class="font-regular text-whiteTeal text-center uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation hover:btn-gradient-animation-active pt-3 pb-2 px-4 m-8 drop-shadow-md rounded"
          >
            Envoyer
          </button>
        </div>
      </form>
    </div>
  </section>
  <!-- END SECTION CONTACT-->
</main>
{% endblock main %} {% block scripts %}
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>
<script src="{% static 'garage/javascript/main.js' %}"></script>
<script src="{% static 'garage/javascript/leaflet.js' %}"></script>
{% endblock %}
