{% extends "garage/base.html" %}
{% load static %}

{% block title %}Politique de confidentialité | Garage V.Parrot à Toulouse{% endblock %}
{% block meta-description %}
    Politique de confidentialité.
    Cette politique de confidentialité décrit nos politiques et procédures
    concernant la collecte, l'utilisation et la divulgation de vos
    informations lorsque vous utilisez notre Site Web, et vous informe de
    vos droits en matière de confidentialité et de la protection légale dont
    vous bénéficiez.
{% endblock %}

<!-- MAIN -->
{% block main %}
    <main>
        <!-- SECTION HEADING-->
        <section class="bg-celestialBlue">
            <div class="flex flex-col flex-nowrap justify-center items-center px-6 sm:px-8 md:px-14 py-6 xl:container mx-auto">
                <div class="self-start max-w-xl sm:max-w-2xl md:max-w-none md:w-10/12">
                    <h1 class="font-rokkitt font-bold text-2xl lg:text-4xl text-whiteTeal uppercase mb-3 lg:mt-4 drop-shadow-md">
                        RGPD
                    </h1>
                    <p class="font-rasa font-semibold text-xl lg:text-2xl text-whiteTeal uppercase drop-shadow-md">
                        Politique de confidentialité des données
                    </p>
                </div>
            </div>
        </section>
        <!-- END SECTION HEADING-->

        <!-- SECTION PRIVACY POLICY-->
        <section id="privacy-policy">
            <div class="flex flex-col flex-nowrap justify-center px-8 pt-16 pb-6 lg:pt-20 lg:pb-8 xl:pt-24 xl:pb-14 xl:mx-2 bg-whiteTeal text-left">
                <h2 class="font-rokkitt font-semibold text-celestialBlue text-2xl uppercase mb-4">
                    Politique de confidentialité
                </h2>
                <p class="mb-3">Dernière mise à jour : 3 juillet 2023</p>
                <p class="mb-3">
                    Cette politique de confidentialité décrit nos politiques et procédures
                    concernant la collecte, l'utilisation et la divulgation de vos
                    informations lorsque vous utilisez notre Site Web, et vous informe de
                    vos droits en matière de confidentialité et de la protection légale dont
                    vous bénéficiez.
                </p>
                <p class="mb-3">
                    Nous utilisons vos données personnelles pour fournir et améliorer notre
                    Site Web. En utilisant notre Site Web, vous acceptez la collecte et
                    l'utilisation d'informations conformément à cette politique de
                    confidentialité. Cette politique de confidentialité a été établie avec
                    l'aide du
                    <a
                        class="transition text-celestialBlue hover:text-darkBlue hover:underline active:text-darkBlue"
                        href="https://www.privacypolicies.com/privacy-policy-generator/"
                        target="_blank">
                        générateur de politique de confidentialité "Privacy policies".
                    </a>
                </p>
                <h2 class="font-rokkitt font-semibold text-celestialBlue text-2xl uppercase mt-4 mb-3">
                    Interprétation et définitions
                </h2>
                <h3 class="font-rasa font-semibold text-onyx text-lg uppercase mb-1">
                    Interprétation
                </h3>
                <p class="mb-3">
                    Les mots définis dans les conditions suivantes ont des significations
                    définies. Les définitions suivantes auront la même signification,
                    qu'elles apparaissent au singulier ou au pluriel.
                </p>
                <h3 class="font-rasa font-semibold text-onyx text-lg uppercase mb-1">
                    Définitions
                </h3>
                <p class="mb-3">Aux fins de la présente politique de confidentialité :</p>
                <ul class="list-disc list-inside mb-3">
                    <li>
                        <strong>Compte :</strong> désigne un compte unique créé pour vous
                        permettre d'accéder à notre site web ou à des parties de notre site
                        web.
                    </li>
                    <li>
                        <strong>Cookies :</strong> désigne de petits fichiers qui sont placés
                        sur votre ordinateur, votre appareil mobile ou tout autre appareil par
                        un Site Web, contenant par exemple les détails de votre historique de
                        navigation sur ce site Web parmi ses nombreuses utilisations.
                    </li>
                    <li><strong>Pays :</strong> désigne la France</li>
                    <li>
                        <strong>Appareil :</strong> désigne tout appareil qui peut accéder à
                        un site Web, tel qu'un ordinateur, un téléphone portable ou une
                        tablette numérique.
                    </li>
                    <li>
                        <strong>Données personnelles :</strong> désigne toute information se
                        rapportant à une personne physique identifiée ou identifiable.
                    </li>
                    <li>
                        <strong>Prestataire de services :</strong> désigne toute personne
                        physique ou morale qui traite les données pour le compte du Garage
                        V.Parrot. Il fait référence à des sociétés tierces ou à des individus
                        employés par la société pour le bon fonctionnement du site web,
                        fournir des services liés au site web ou aider le Garage V.Parrot à
                        analyser la manière dont le site web est utilisé.
                    </li>
                    <li>
                        <strong>Données d'utilisation :</strong> désigne les données
                        collectées automatiquement, générées soit par l'utilisation du site
                        web, soit par l'infrastructure du site web elle-même (par exemple, la
                        durée de visite d'une page).
                    </li>
                    <li>
                        <strong>Site Web :</strong> désigne le site web du Garage V.Parrot,
                        accessible à partir de
                        <a
                                class="transition text-celestialBlue hover:text-darkBlue hover:underline active:text-darkBlue"
                                href="https://garage-vparrot.clementfloret.fr">
                            https://garage-vparrot.clementfloret.fr
                        </a>
                    </li>
                    <li>
                        <strong>"Vous"</strong> désigne l'individu qui accède ou utilise le site
                        web, ou la société ou autre entité juridique au nom de laquelle cet
                        individu accède ou utilise le site web, le cas échéant.
                    </li>
                </ul>
                <h2 class="font-rokkitt font-semibold text-celestialBlue text-2xl uppercase mt-4 mb-4">
                    Collecte et utilisation de vos données personnelles
                </h2>
                <h3 class="font-rasa font-semibold text-onyx text-lg uppercase mb-1">
                    Types de données collectées
                </h3>
                <h4 class="font-rasa text-onyx text-lg uppercase mb-1">
                    Données personnelles
                </h4>
                <p>
                    Lorsque vous utilisez notre site web, nous pouvons vous demander de nous
                    fournir certaines informations personnelles identifiables qui peuvent
                    être utilisées pour vous contacter ou vous identifier. Les informations
                    personnellement identifiables peuvent inclure, mais ne sont pas limitées
                    à :
                </p>
                <ul class="list-disc list-inside mb-3">
                    <li>Adresse e-mail</li>
                    <li>Prénom et nom</li>
                    <li>Numéro de téléphone</li>
                    <li>Données d'utilisation</li>
                </ul>
                <h4 class="font-rasa text-onyx text-lg uppercase mb-1">
                    Données d'utilisation
                </h4>
                <p>
                    Les données d'utilisation sont collectées automatiquement lors de
                    l'utilisation du site web.
                </p>
                <p>
                    Les données d'utilisation peuvent inclure des informations telles que
                    l'adresse IP de votre appareil, le type de navigateur, la version du
                    navigateur, les pages de notre site Web que vous visitez, l'heure et la
                    date de votre visite, le temps passé sur ces pages, des identifiants
                    uniques de dispositif et d'autres données de diagnostic.
                </p>
                <p>
                    Lorsque vous accédez à notre site web via un appareil mobile, nous
                    pouvons collecter certaines informations automatiquement, y compris,
                    mais sans s'y limiter, le type d'appareil mobile que vous utilisez,
                    l'identifiant unique de votre appareil mobile, l'adresse IP de votre
                    appareil mobile, votre système d'exploitation mobile, le type de
                    navigateur Internet mobile que vous utilisez, des identifiants uniques
                    de dispositif et d'autres données de diagnostic.
                </p>
                <p class="mb-3">
                    Nous pouvons également collecter des informations que votre navigateur
                    envoie chaque fois que vous visitez notre site web ou lorsque vous
                    accédez au site web via un appareil mobile.
                </p>
                <h4 class="font-rasa text-onyx text-lg uppercase mb-1">
                    Technologies de suivi et cookies
                </h4>
                <p class="mb-2">
                    Nous utilisons des cookies et des technologies de suivi similaires pour
                    suivre l'activité sur notre site web et stocker certaines informations.
                    Les technologies de suivi utilisées sont les balises, les tags et les
                    scripts pour collecter et suivre des informations et pour améliorer et
                    analyser notre site web. Les technologies que nous utilisons peuvent
                    inclure :
                </p>
                <ul class="list-disc list-inside mb-3">
                    <li>
                        <strong>Cookies ou Cookies de navigateur.</strong> Un cookie est un
                        petit fichier placé sur votre appareil. Vous pouvez demander à votre
                        navigateur de refuser tous les cookies ou de vous avertir lorsque
                        qu'un cookie est envoyé. Cependant, si vous n'acceptez pas les
                        cookies, il se peut que vous ne puissiez pas utiliser certaines
                        parties de notre site web. À moins que vous n'ayez modifié vos
                        paramètres de navigateur pour refuser les cookies, notre site web peut
                        utiliser des cookies.
                    </li>
                    <li>
                        <strong>Balises web.</strong> Certaines sections de notre site web et
                        de nos e-mails peuvent contenir de petits fichiers électroniques
                        connus sous le nom de balises web (également appelées gifs
                        transparents, balises pixel et gifs mono-pixel) qui permettent à la
                        société, par exemple, de compter les utilisateurs qui ont visité ces
                        pages et d'autres statistiques liées au site web (par exemple, en
                        vérifiant l'intégrité du système et du serveur).
                    </li>
                </ul>
                <p class="mb-3">
                    Les cookies peuvent être des cookies "persistants" ou des
                    cookies "de Session". Les cookies persistants restent sur
                    votre ordinateur personnel ou votre appareil mobile lorsque vous êtes
                    hors ligne, tandis que les cookies de session sont supprimés dès que
                    vous fermez votre navigateur web. En savoir plus sur les cookies sur le
                    <a
                        class="transition text-celestialBlue hover:text-darkBlue hover:underline active:text-darkBlue"
                        href="https://www.privacypolicies.com/blog/privacy-policy-template/#Use_Of_Cookies_Log_Files_And_Tracking"
                        target="_blank">
                        site web de la Politique de confidentialité.
                    </a>
                </p>
                <p class="mb-2">
                    Nous utilisons à la fois des cookies de session et des cookies
                    persistants aux fins décrites ci-dessous :
                </p>
                <ul class="list-disc list-inside mb-3">
                    <li>
                        <strong>Cookies nécessaires / essentiels</strong>
                        Type : Cookies de session Administré par : le Garage V.Parrot
                        Objectif : Ces cookies sont essentiels pour vous fournir les services
                        disponibles sur le site web et vous permettre d'utiliser certaines de
                        ses fonctionnalités. Ils aident à authentifier les utilisateurs et à
                        prévenir une utilisation frauduleuse des comptes d'utilisateurs. Sans
                        ces cookies, les services que vous avez demandés peuvent ne pas être
                        fournis. Enfin, nous n'utilisons ces cookies que pour le bon
                        fonctionnement du site web et de ses services.
                    </li>
                    <li>
                        <strong>Cookies de fonctionnalité</strong>
                        Type : Cookies permanents et internes Administré par : le Garage
                        V.Parrot. Objectif : Ces cookies nous permettent de mémoriser les choix
                        que vous faites lorsque vous utilisez le site Web, tels que le rappel
                        de vos identifiants de connexion. Le but de ces cookies est de vous
                        offrir une expérience plus personnelle et d'éviter que vous ayez à
                        saisir à nouveau vos préférences à chaque utilisation du site Web.
                    </li>
                </ul>
                <p class="mb-3">
                    Pour plus d'informations sur les cookies que nous utilisons et vos choix
                    concernant les cookies, veuillez consulter la section cookies de notre
                    politique de confidentialité.
                </p>
                <h3 class="font-rasa font-semibold text-onyx text-lg uppercase mb-1">
                    Utilisation de vos données personnelles
                </h3>
                <p class="mb-2">
                    La société peut utiliser les données personnelles aux fins suivantes :
                </p>
                <ul class="list-disc list-inside mb-3">
                    <li>
                        <strong>Fournir et maintenir notre site web</strong>, y compris
                        surveiller l'utilisation de notre site web.
                    </li>
                    <li>
                        <strong>Gérer votre compte :</strong> gérer votre inscription en tant
                        qu'utilisateur du site web. Les données personnelles que vous
                        fournissez vous donnent accès à différentes fonctionnalités du site
                        web qui sont disponibles pour vous en tant qu'utilisateur inscrit.
                    </li>
                    <li>
                        <strong>Vous contacter :</strong> vous contacter par e-mail, appels
                        téléphoniques, SMS, concernant les communications informatives liées
                        au site web et au Garage V.Parrot, lorsque cela est nécessaire ou
                        raisonnable pour leur mise en œuvre.
                    </li>
                    <li>
                        <strong>Vous fournir :</strong> des actualités, des offres spéciales
                        et des informations générales sur d'autres biens, événements que nous
                        proposons et qui sont similaires à ceux que vous avez déjà achetés ou
                        demandés, sauf si vous avez choisi de ne pas recevoir de telles
                        informations.
                    </li>
                    <li>
                        <strong>Gérer vos demandes :</strong> traiter et gérer vos demandes à
                        notre égard.
                    </li>
                    <li>
                        <strong>Transferts commerciaux :</strong> nous pouvons utiliser vos
                        informations pour évaluer ou effectuer une fusion, une cession, une
                        restructuration, une réorganisation, une dissolution, ou une autre
                        vente ou transfert de tout ou partie de nos actifs, que ce soit en
                        tant qu'entreprise en activité ou dans le cadre d'une procédure de
                        faillite, de liquidation ou similaire, dans laquelle des données
                        personnelles détenues par nous à propos des utilisateurs de notre site
                        web font partie des actifs transférés.
                    </li>
                    <li>
                        <strong>Autres fins :</strong> nous pouvons utiliser vos informations
                        à d'autres fins, telles que l'analyse des données, l'identification
                        des tendances d'utilisation, la détermination de l'efficacité de nos
                        campagnes promotionnelles et l'évaluation et l'amélioration de notre
                        site web, de nos produits, de notre marketing et de votre expérience.
                    </li>
                </ul>
                <p class="mb-2">
                    Nous pouvons partager vos informations personnelles dans les situations
                    suivantes :
                </p>
                <ul class="list-disc list-inside mb-3">
                    <li>
                        <strong>Avec des prestataires de site webs :</strong> nous pouvons
                        partager vos informations personnelles avec des prestataires de site
                        webs pour surveiller et analyser l'utilisation de notre site web, pour
                        vous contacter.
                    </li>
                    <li>
                        <strong>Pour les transferts commerciaux :</strong> nous pouvons
                        partager ou transférer vos informations personnelles dans le cadre de
                        toute fusion, vente d'actifs de la société, financement ou acquisition
                        de tout ou partie de notre entreprise par une autre société.
                    </li>
                    <li>
                        <strong>Avec des affiliés :</strong> nous pouvons partager vos
                        informations avec nos affiliés, auquel cas, nous exigerons que ces
                        affiliés respectent cette politique de confidentialité. Les affiliés
                        comprennent notre société mère et toute autre filiale, partenaire de
                        coentreprise ou autre société que nous contrôlons ou qui est sous
                        notre contrôle commun.
                    </li>
                    <li>
                        <strong>Avec des partenaires commerciaux :</strong> nous pouvons
                        partager vos informations avec nos partenaires commerciaux pour vous
                        proposer certains produits, site webs ou promotions.
                    </li>
                    <li>
                        <strong>Avec d'autres utilisateurs :</strong> lorsque vous partagez
                        des informations personnelles ou interagissez autrement dans les zones
                        publiques avec d'autres utilisateurs, ces informations peuvent être
                        consultées par tous les utilisateurs et peuvent être distribuées
                        publiquement.
                    </li>
                    <li>
                        <strong>Avec votre consentement :</strong> nous pouvons divulguer vos
                        informations personnelles à d'autres fins avec votre consentement.
                    </li>
                </ul>
                <h3 class="font-rasa font-semibold text-onyx text-lg uppercase mb-1">
                    Conservation de vos données personnelles
                </h3>
                <p>
                    La société ne conservera vos données personnelles que pendant la durée
                    nécessaire aux fins énoncées dans cette politique de confidentialité.
                    Nous conserverons et utiliserons vos données personnelles dans la mesure
                    nécessaire pour satisfaire à nos obligations légales (par exemple, si
                    nous sommes tenus de conserver vos données pour respecter les lois
                    applicables), résoudre les litiges et faire respecter nos accords et
                    politiques juridiques.
                </p>
                <p class="mb-3">
                    La société conservera également les données d'utilisation à des fins
                    d'analyse interne. Les données d'utilisation sont généralement
                    conservées pendant une période plus courte, sauf lorsque ces données
                    sont utilisées pour renforcer la sécurité ou améliorer la fonctionnalité
                    de notre site web, ou lorsque nous sommes légalement tenus de conserver
                    ces données pendant des périodes plus longues.
                </p>
                <h3 class="font-rasa font-semibold text-onyx text-lg uppercase mb-1">
                    Transfert de vos données personnelles
                </h3>
                <p>
                    Vos informations, y compris les données personnelles, sont traitées dans
                    les bureaux du Garage V.Parrot et dans tous les autres lieux où les
                    parties impliquées dans le traitement des données. Cela signifie que ces
                    informations peuvent être transférées et conservées sur des ordinateurs
                    situés à l'extérieur de la France ou de l'Union Européenne où les lois
                    sur la protection des données peuvent différer de celles de votre
                    juridiction.
                </p>
                <p>
                    Votre consentement à la présente politique de confidentialité, suivi de
                    votre soumission de ces informations, constitue votre accord à ce
                    transfert.
                </p>
                <p class="mb-3">
                    La société prendra toutes les mesures raisonnablement nécessaires pour
                    s'assurer que vos données sont traitées en toute sécurité et
                    conformément à cette politique de confidentialité, et aucun transfert de
                    vos données personnelles n'aura lieu vers une organisation ou un pays à
                    moins que des contrôles appropriés soient en place, y compris la
                    sécurité de vos données et autres informations personnelles.
                </p>
                <h3 class="font-rasa font-semibold text-onyx text-lg uppercase mb-1">
                    Supprimez vos données personnelles
                </h3>
                <p>
                    Vous avez le droit de supprimer ou de demander notre aide pour supprimer
                    les données personnelles que nous avons collectées à votre sujet.
                </p>
                <p>
                    Notre site web peut vous permettre de supprimer certaines informations
                    vous concernant depuis celui-ci.
                </p>
                <p>
                    Vous pouvez mettre à jour, modifier ou supprimer vos informations à tout
                    moment en vous connectant à votre compte, si vous en avez un, et en
                    visitant la section des paramètres du compte qui vous permet de gérer
                    vos informations personnelles. Vous pouvez également nous contacter pour
                    demander l'accès, la correction ou la suppression de toutes les
                    informations personnelles que vous nous avez fournies.
                </p>
                <p class="mb-3">
                    Veuillez noter, cependant, que nous pouvons être amenés à conserver
                    certaines informations lorsque nous avons une obligation légale ou une
                    base juridique pour le faire.
                </p>
                <h3 class="font-rasa font-semibold text-onyx text-lg uppercase mb-1">
                    Divulgation de vos données personnelles
                </h3>
                <h4 class="font-rasa text-onyx text-lg uppercase mb-1">
                    Transactions commerciales
                </h4>
                <p>
                    Si l'entreprise est impliquée dans une fusion, une acquisition ou une
                    vente d'actifs, vos données personnelles peuvent être transférées. Nous
                    vous informerons avant que vos données personnelles ne soient
                    transférées et soumises à une politique de confidentialité différente.
                </p>
                <h4 class="font-rasa text-onyx text-lg uppercase mb-1">
                    Autres obligations légales
                </h4>
                <p>
                    L'entreprise peut divulguer vos données personnelles de bonne foi si une
                    telle action est nécessaire pour :
                </p>
                <ul class="list-disc list-inside mb-3">
                    <li>Respecter une obligation légale</li>
                    <li>Protéger et défendre les droits ou la propriété de l'entreprise</li>
                    <li>
                        Prévenir ou enquêter sur d'éventuels actes répréhensibles liés au site
                        web
                    </li>
                    <li>
                        Protéger la sécurité personnelle des utilisateurs du site web ou du
                        public
                    </li>
                    <li>Se protéger contre une responsabilité légale</li>
                </ul>
                <h3 class="font-rasa font-semibold text-onyx text-lg uppercase mb-1">
                    Sécurité de vos données personnelles
                </h3>
                <p>
                    La sécurité de vos données personnelles est importante pour nous, mais
                    il est important de savoir qu'aucune méthode de transmission sur
                    Internet ou de stockage électronique n'est totalement sécurisée. Bien
                    que nous nous efforcions d'utiliser des moyens commercialement
                    acceptables pour protéger vos données personnelles, nous ne pouvons
                    garantir leur sécurité absolue.
                </p>
                <h2 class="font-rokkitt font-semibold text-celestialBlue text-2xl uppercase mt-4 mb-3">
                    Confidentialité des mineurs
                </h2>
                <p>
                    Notre site web ne s'adresse pas aux personnes de moins de 15 ans. Nous
                    ne collectons sciemment aucune information permettant d'identifier
                    personnellement une personne de moins de 15 ans. Si vous êtes parent ou
                    tuteur et que vous savez que votre enfant nous a fourni des données
                    personnelles, veuillez nous contacter. Si nous découvrons que nous avons
                    collecté des données personnelles auprès de personnes de moins de 15 ans
                    sans vérification du consentement parental, nous prendrons des mesures
                    pour supprimer ces informations de nos serveurs.
                </p>
                <p>
                    Si nous devons nous baser sur le consentement comme base légale pour
                    traiter vos informations et le consentement d'un parent, nous pouvons
                    exiger le consentement de vos parents avant de collecter et d'utiliser
                    ces informations.
                </p>
                <h2 class="font-rokkitt font-semibold text-celestialBlue text-2xl uppercase mt-4 mb-3">
                    Liens vers d'autres sites web
                </h2>
                <p>
                    Notre site web peut contenir des liens vers d'autres sites web qui ne
                    sont pas exploités par nous. Si vous cliquez sur un lien tiers, vous
                    serez redirigé vers le site de ce tiers. Nous vous conseillons vivement
                    de consulter la politique de confidentialité de chaque site que vous
                    visitez.
                </p>
                <p>
                    Nous n'avons aucun contrôle sur le contenu, les politiques de
                    confidentialité ou les pratiques des sites ou site webs de tiers et nous
                    n'assumons aucune responsabilité à cet égard.
                </p>
                <h2 class="font-rokkitt font-semibold text-celestialBlue text-2xl uppercase mt-4 mb-3">
                    Modifications de cette politique de confidentialité
                </h2>
                <p>
                    Nous pouvons, si besoin, mettre à jour notre politique de
                    confidentialité. Nous vous informerons de tout changement en publiant la
                    nouvelle politique de confidentialité sur cette page.
                </p>
                <p>
                    Nous vous informerons également par e-mail ou par un avis visible sur
                    notre site web, avant que le changement ne soit effectif, et nous
                    mettrons à jour la date de "Dernière mise à jour" en haut de cette
                    politique de confidentialité.
                </p>
                <p>
                    Nous vous recommandons de consulter régulièrement cette politique de
                    confidentialité pour prendre connaissance des éventuelles modifications.
                    Les modifications de cette politique de confidentialité sont effectives
                    lorsqu'elles sont publiées sur cette page.
                </p>
                <h2 class="font-rokkitt font-semibold text-celestialBlue text-2xl uppercase mt-4 mb-3">
                    Contactez-nous
                </h2>
                <p>
                    Si vous avez des questions concernant cette politique de
                    confidentialité, vous pouvez nous contacter :
                </p>
                <ul class="list-disc list-inside mb-3">
                    <li>Par e-mail : contact@garage-vparrot.clementfloret.fr</li>
                    <li>
                        En visitant cette page sur notre site :
                        <a
                                class="transition text-celestialBlue hover:text-darkBlue hover:underline active:text-darkBlue"
                                href="https://garage-vparrot.clementfloret.fr/contact/">
                            https://garage-vparrot.clementfloret.fr/contact/
                        </a>
                    </li>
                    <li>Par courrier : 11 Rue Léon Jouhaux, 31500 Toulouse, France</li>
                </ul>
            </div>
        </section>
        <!-- END SECTION PRIVACY POLICY-->
    </main>
{% endblock main %} {% block scripts %}
    <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">
    </script>
    <script src="{% static 'garage/javascript/main.js' %}"></script>
    <script src="{% static 'garage/javascript/leaflet.js' %}"></script>
{% endblock %}
