{% extends "garage/base.html" %}
{% load static %}
{% load humanize %}


{% block scripts %}
    <script src="{% static 'garage/javascript/modal-vehicle-contact.js' %}" defer></script>
    <script src="{% static 'garage/javascript/modal-messages.js' %}" defer></script>
    <script src="{% static 'garage/javascript/vehicle-detail.js' %}" defer></script>
{% endblock %}

{% block title %}Véhicules d'occasion | Garage V.Parrot à Toulouse{% endblock %}
{% block meta-description %}
    Véhicules d'occasion toutes marques révisés,
    le Garage V.Parrot garantie tous ses véhicules 12 mois pour vous apporter
    l'assurance de repartir avec la voiture de vos rêves en toute sécurité.
{% endblock %}

<!-- MAIN -->
{% block main %}
    <!-- SECTION HEADING-->
    <section class="bg-heading bg-heading-vehicles bg-cover bg-center min-h-[280px] md:min-h-[340px]">
        <div class="flex flex-col flex-nowrap justify-center items-center px-6 sm:px-8 md:px-14 py-8 sm:py-10 md:py-12 lg:py-20 xl:container mx-auto">
            <div class="self-start mb-6 sm:mb-8 max-w-xl sm:max-w-2xl md:max-w-none md:w-10/12">
                <h1 class="font-rokkitt font-bold text-2xl lg:text-4xl text-whiteTeal uppercase mb-3 lg:mt-18 drop-shadow-md">
                    Découvrez notre sélection de véhicules d'occasion révisés par notre atelier
                </h1>
                <p class="font-rasa font-semibold text-xl lg:text-2xl text-whiteTeal uppercase drop-shadow-md">
                    Tous nos véhicules sont garantie 12 mois pour réparations, dans notre
                    garage
                </p>
            </div>
        </div>
    </section>
    <!-- END SECTION HEADING-->

    <!-- SECTION VEHICLE LIST-->
    <section id="vehicles">
        <div class="xl:container mx-auto flex flex-col flex-nowrap justify-center items-center sm:px-14 pb-14 bg-whiteTeal">
            <h2 class="font-rasa text-xl uppercase mb-4 hidden">
                Fiche du véhicule d'occasion: {{ vehicle.name }}
            </h2>
            <div id="vehicle-detail" class="flex flex-col flex-nowrap justify-center items-center max-w-lg sm:max-w-xl md:max-w-4xl lg:max-w-none mt-12 mb-4">
                <div class="flex flex-col lg:flex-row flex-nowrap w-full lg:my-5 lg:pb-3 xl:pb-5">
                    <div class="flex flex-col md:flex-row flex-nowrap md:max-h-96">
                        <div id="vehicle-main-picture" class="md:h-96 my-2 md:my-0 md:me-2 lg:me-3 xl:me-4">
                            <img class="object-cover md:h-96 rounded-md" src="/{{ vehicle.pictures.first.picture }}" alt="{{ vehicle.name }}">
                        </div>
                        <div id="vehicle-thumbnails">
                            <ul class="flex flex-row md:flex-col flex-nowrap w-screen max-w-full sm:w-full md:max-h-96 overflow-scroll rounded-md">
                                {% for picture in vehicle.pictures.all %}
                                    <li id="{{ picture.picture }}" class="vehicle-thumbnail-picture hover:cursor-pointer hover:brightness-125 transition mx-0.5 md:my-0.5">
                                        <img class="max-w-none w-28 sm:w-32" src="/{{ picture.picture }}" alt="{{ vehicle.name }}">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="flex flex-col flex-nowrap lg:justify-around lg:items-start py-8 px-6 md:py-10 lg:py-2 lg:px-8 xl:px-12">
                        <h3 id="vehicle-title" title="{{ vehicle.name }}" class="font-rokkitt font-bold text-2xl text-onyx uppercase mb-4">{{ vehicle.name }}</h3>
                        <ul class="list-disc list-inside text-slate-500 my-2">
                            <li class="my-1">Année: <span>{{ vehicle.year }}</span></li>
                            <li class="my-1">Kilométrage: <span>{{ vehicle.km|intcomma }}</span> km</li>
                            <li class="my-1">Énergie: <span>{{ vehicle.energy }}</span></li>
                        </ul>
                        <p class="font-bold text-2xl text-onyx my-6">
                            {{ vehicle.price|intcomma }}<span> €</span>
                        </p>
                        <div class="self-center">
                            <p class="text-center lg:text-left text-celestialBlue">Besoin de plus d'informations ?</p>
                            <div class="flex flex-row flex-nowrap justify-center lg:justify-start items-center my-2">
                                <button id="modal-vehicles-open-btn"
                                        class="modal-vehicles-open-btn font-regular text-whiteTeal uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded">
                                    Contactez nous
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-onyx rounded-md w-full px-4 sm:px-6 lg:px-8 py-6 lg:py-8">
                    <h4 class="font-rokkitt text-lg text-whiteTeal uppercase mb-4">Informations générales</h4>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-2 gap-x-6 lg:gap-y-3">
                        <div class="flex justify-between bg-whiteTeal rounded text-onyx px-3 py-1.5 lg:py-2">
                            <span>Marque:</span>
                            <span class="font-semibold">{{ vehicle.brand }}</span>
                        </div>
                        <div class="flex justify-between bg-whiteTeal rounded text-onyx px-3 py-1.5 lg:py-2">
                            <span>Modèle:</span>
                            <span class="font-semibold">{{ vehicle.model }}</span>
                        </div>
                        <div class="flex justify-between bg-whiteTeal rounded text-onyx px-3 py-1.5 lg:py-2">
                            <span>Énergie:</span>
                            <span class="font-semibold">{{ vehicle.energy }}</span>
                        </div>
                        <div class="flex justify-between bg-whiteTeal rounded text-onyx px-3 py-1.5 lg:py-2">
                            <span>Année:</span>
                            <span class="font-semibold">{{ vehicle.year }}</span>
                        </div>
                        <div class="flex justify-between bg-whiteTeal rounded text-onyx px-3 py-1.5 lg:py-2">
                            <span>Kilométrage:</span>
                            <span class="font-semibold">{{ vehicle.km|intcomma }}</span>
                        </div>
                        <div class="flex justify-between bg-whiteTeal rounded text-onyx px-3 py-1.5 lg:py-2">
                            <span>Boîte de vitesse:</span>
                            <span class="font-semibold">{{ vehicle.gearbox }}</span>
                        </div>
                        <div class="flex justify-between bg-whiteTeal rounded text-onyx px-3 py-1.5 lg:py-2">
                            <span>Puissance (cv):</span>
                            <span class="font-semibold">{{ vehicle.power }}</span>
                        </div>
                        <div class="flex justify-between bg-whiteTeal rounded text-onyx px-3 py-1.5 lg:py-2">
                            <span>Vignette crit'air:</span>
                            <span class="font-semibold">{{ vehicle.critair }}</span>
                        </div>
                        <div class="flex justify-between bg-whiteTeal rounded text-onyx px-3 py-1.5 lg:py-2">
                            <span>Couleur:</span>
                            <span class="font-semibold">{{ vehicle.color }}</span>
                        </div>
                        <div class="flex justify-between bg-whiteTeal rounded text-onyx px-3 py-1.5 lg:py-2">
                            <span>Nombre de sièges:</span>
                            <span class="font-semibold">{{ vehicle.seats }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION VEHICLE LIST-->

    <!-- SECTION MODAL VEHICLE CONTACT-->
    {% include 'garage/modal/modal-vehicle-contact.html' %}

    <!-- SECTION MODAL MESSAGES-->
    {% include 'garage/modal/modal-messages.html' %}
{% endblock main %}
