{% extends "garage/base.html" %}
{% load static %}

{% block title %}Véhicules d'occasion | Garage V.Parrot à Toulouse{% endblock %}
{% block meta-description %}
  Véhicules d'occasion toute marques révisés,
  le Garage V.Parrot garantie tous ses véhicules 12 mois pour vous apporter
  l'assurance de repartir avec la voiture de vos rêves en toute sécurité.
{% endblock %}

<!-- MAIN -->
{% block main %}
<main>
  <!-- SECTION HEADING-->
  <section
    class="bg-vehiclesHeadingImg bg-cover bg-center min-h-[280px] md:min-h-[340px]"
  >
    <div
      class="flex flex-col flex-nowrap justify-center items-center px-6 sm:px-8 md:px-14 py-8 sm:py-10 md:py-12 lg:py-20 xl:container mx-auto"
    >
      <div
        class="self-start mb-6 sm:mb-8 max-w-xl sm:max-w-2xl md:max-w-none md:w-10/12"
      >
        <h1
          class="font-rokkitt font-bold text-2xl lg:text-4xl text-whiteTeal uppercase mb-3 lg:mt-32 drop-shadow-md"
        >
          Découvrez notre sélection de véhicules d'occasion révisés par notre
          atelier
        </h1>
        <p
          class="font-rasa font-semibold text-xl lg:text-2xl text-whiteTeal uppercase drop-shadow-md"
        >
          Tous nos véhicules sont garantie 12 mois pour réparations, dans notre
          garage
        </p>
      </div>
    </div>
  </section>
  <!-- END SECTION HEADING-->

  <!-- SECTION VEHICLES FILTER-->
  <section id="vehicles-filters">
    <div
      class="flex flex-col xl:flex-row flex-nowrap xl:justify-center items-center px-8 pt-12 pb-4 xl:mx-2"
    >
      <!-- RESET FILTER BUTTON -->
      <div
        class="flex flex-row flex-nowrap justify-center items-center xl:mx-6"
      >
        <button
          id="button-reset-filter"
          class="font-regular text-whiteTeal text-center uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded"
        >
          Réinitialiser les filtres
        </button>
      </div>
      <!-- END RESET FILTER BUTTON-->

      <div
        class="container flex flex-col flex-nowrap lg:flex-row lg:justify-center items-center my-8"
      >
        <!-- PRICE FILTER-->
        <div class="flex flex-col my-2 lg:mx-4 max-w-md w-full">
          <h3 class="font-semibold font-onyx mb-4">Prix</h3>
          <div class="relative h-6">
            <input
              id="range-min-price"
              class="range-filters"
              type="range"
              value="0"
              min="0"
              max="1000000"
              step="500"
            />
            <input
              id="range-max-price"
              class="range-filters"
              type="range"
              value="1000000"
              min="0"
              max="1000000"
              step="500"
            />
          </div>
          <div class="flex justify-between">
            <p class="onyx w-28 h-fit text-onyx text-sm text-left">
              <span id="text-min-price">0</span> €
            </p>
            <p class="onyx w-28 h-fit text-onyx text-sm text-right">
              <span id="text-max-price">1 000 000</span> €
            </p>
          </div>
        </div>
        <!-- END PRICE FILTER-->

        <!-- YEAR FILTER-->
        <div class="flex flex-col my-2 lg:mx-4 max-w-md w-full">
          <h3 class="font-semibold font-onyx mb-4">Années</h3>
          <div class="relative h-6">
            <input
              id="range-min-year"
              class="range-filters"
              type="range"
              value="0"
              min="0"
              max="2023"
              step="1"
            />
            <input
              id="range-max-year"
              class="range-filters"
              type="range"
              value="2023"
              min="0"
              max="2023"
              step="1"
            />
          </div>
          <div class="flex justify-between">
            <p class="onyx w-28 h-fit text-onyx text-sm text-left">
              <span id="text-min-year">0</span>
            </p>
            <p class="onyx w-28 h-fit text-onyx text-sm text-right">
              <span id="text-max-year">2023</span>
            </p>
          </div>
        </div>
        <!-- END YEAR FILTER-->

        <!-- KMs FILTER-->
        <div class="flex flex-col my-2 lg:mx-4 max-w-md w-full">
          <h3 class="font-semibold font-onyx mb-4">Kilométrage</h3>
          <div class="relative h-6">
            <input
              id="range-min-km"
              class="range-filters"
              type="range"
              value="0"
              min="0"
              max="1000000"
              step="1000"
            />
            <input
              id="range-max-km"
              class="range-filters"
              type="range"
              value="1000000"
              min="0"
              max="1000000"
              step="1000"
            />
          </div>
          <div class="flex justify-between">
            <p class="onyx w-28 h-fit text-onyx text-sm text-left">
              <span id="text-min-km">0</span> Km
            </p>
            <p class="onyx w-28 h-fit text-onyx text-sm text-right">
              <span id="text-max-km">1 000 000</span> Km
            </p>
          </div>
        </div>
        <!-- END KMs FILTER-->
      </div>
    </div>
  </section>
  <!-- END SECTION VEHICLES FILTER-->

  <!-- SECTION VEHICLES LIST-->
  <section id="vehicles-list">
    <div
      class="flex flex-col flex-nowrap justify-center items-center sm:px-14 pb-14 bg-whiteTeal"
    >
      <h2 class="font-rasa text-xl uppercase mb-4 hidden">
        Liste des véhicules d'occasion
      </h2>
      <div
        class="grid gap-14 md:gap-x-16 md:gap-y-20 lg:gap-x-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-2 mb-8"
      >
        <!-- CARD VEHICLE-->
        <div class="shadow-lg rounded-md">
          <div>
            <a href="#">
              <img
                class="rounded-t-md max-h-[350px] hover:contrast-125 transition"
                src="{% static 'garage/images/vehicles/ford-explorer.webp'%}"
                alt=""
              />
            </a>
          </div>
          <div
            class="flex flex-col flex-nowrap justify-center items-start px-6 py-5"
          >
            <h3 class="font-bold text-lg text-onyx uppercase mb-2">
              Nom et modèle du véhicule : Ford explorer
            </h3>
            <ul
              class="list-disc list-inside text-slate-500 mb-5 lg:mb-8 xl:mb-10"
            >
              <li>Année: <span>2020</span></li>
              <li>Kilométrage: <span>12 000</span> km</li>
            </ul>
            <p class="text-center font-bold text-lg text-onyx my-4">
              30 000<span> €</span>
            </p>
            <div class="self-center">
              <p>Ce véhicule vous intéresse ?</p>
              <div
                class="flex flex-row flex-nowrap justify-center items-center my-2"
              >
                <button
                  class="modal-vehicles-open-btn font-regular text-whiteTeal uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded"
                >
                  Contactez nous
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- END CARD VEHICLE-->

        <!-- CARD VEHICLE-->
        <div class="shadow-lg rounded-md">
          <div>
            <a href="#">
              <img
                class="rounded-t-md max-h-[350px] hover:contrast-125 transition"
                src="{% static 'garage/images/vehicles/ford-explorer.webp'%}"
                alt=""
              />
            </a>
          </div>
          <div
            class="flex flex-col flex-nowrap justify-center items-start px-6 py-5"
          >
            <h3 class="font-bold text-lg text-onyx uppercase mb-2">
              Nom et modèle du véhicule : Ford explorer
            </h3>
            <ul
              class="list-disc list-inside text-slate-500 mb-5 lg:mb-8 xl:mb-10"
            >
              <li>Année: <span>2020</span></li>
              <li>Kilométrage: <span>12 000</span> km</li>
            </ul>
            <p class="text-center font-bold text-lg text-onyx my-4">
              30 000<span> €</span>
            </p>
            <div class="self-center">
              <p>Ce véhicule vous intéresse ?</p>
              <div
                class="flex flex-row flex-nowrap justify-center items-center my-2"
              >
                <button
                  class="modal-vehicles-open-btn font-regular text-whiteTeal uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded"
                >
                  Contactez nous
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- END CARD VEHICLE-->

        <!-- CARD VEHICLE-->
        <div class="shadow-lg rounded-md">
          <div>
            <a href="#">
              <img
                class="rounded-t-md max-h-[350px] hover:contrast-125 transition"
                src="{% static 'garage/images/vehicles/ford-explorer.webp'%}"
                alt=""
              />
            </a>
          </div>
          <div
            class="flex flex-col flex-nowrap justify-center items-start px-6 py-5"
          >
            <h3 class="font-bold text-lg text-onyx uppercase mb-2">
              Nom et modèle du véhicule : Ford explorer
            </h3>
            <ul
              class="list-disc list-inside text-slate-500 mb-5 lg:mb-8 xl:mb-10"
            >
              <li>Année: <span>2020</span></li>
              <li>Kilométrage: <span>12 000</span> km</li>
            </ul>
            <p class="text-center font-bold text-lg text-onyx my-4">
              30 000<span> €</span>
            </p>
            <div class="self-center">
              <p>Ce véhicule vous intéresse ?</p>
              <div
                class="flex flex-row flex-nowrap justify-center items-center my-2"
              >
                <button
                  class="modal-vehicles-open-btn font-regular text-whiteTeal uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded"
                >
                  Contactez nous
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- END CARD VEHICLE-->

        <!-- CARD VEHICLE-->
        <div class="shadow-lg rounded-md">
          <div>
            <a href="#">
              <img
                class="rounded-t-md max-h-[350px] hover:contrast-125 transition"
                src="{% static 'garage/images/vehicles/ford-explorer.webp'%}"
                alt=""
              />
            </a>
          </div>
          <div
            class="flex flex-col flex-nowrap justify-center items-start px-6 py-5"
          >
            <h3 class="font-bold text-lg text-onyx uppercase mb-2">
              Nom et modèle du véhicule : Ford explorer
            </h3>
            <ul
              class="list-disc list-inside text-slate-500 mb-5 lg:mb-8 xl:mb-10"
            >
              <li>Année: <span>2020</span></li>
              <li>Kilométrage: <span>12 000</span> km</li>
            </ul>
            <p class="text-center font-bold text-lg text-onyx my-4">
              30 000<span> €</span>
            </p>
            <div class="self-center">
              <p>Ce véhicule vous intéresse ?</p>
              <div
                class="flex flex-row flex-nowrap justify-center items-center my-2"
              >
                <button
                  class="modal-vehicles-open-btn font-regular text-whiteTeal uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded"
                >
                  Contactez nous
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- END CARD VEHICLE-->

        <!-- CARD VEHICLE-->
        <div class="shadow-lg rounded-md">
          <div>
            <a href="#">
              <img
                class="rounded-t-md max-h-[350px] hover:contrast-125 transition"
                src="{% static 'garage/images/vehicles/ford-explorer.webp'%}"
                alt=""
              />
            </a>
          </div>
          <div
            class="flex flex-col flex-nowrap justify-center items-start px-6 py-5"
          >
            <h3 class="font-bold text-lg text-onyx uppercase mb-2">
              Nom et modèle du véhicule : Ford explorer
            </h3>
            <ul
              class="list-disc list-inside text-slate-500 mb-5 lg:mb-8 xl:mb-10"
            >
              <li>Année: <span>2020</span></li>
              <li>Kilométrage: <span>12 000</span> km</li>
            </ul>
            <p class="text-center font-bold text-lg text-onyx my-4">
              30 000<span> €</span>
            </p>
            <div class="self-center">
              <p>Ce véhicule vous intéresse ?</p>
              <div
                class="flex flex-row flex-nowrap justify-center items-center my-2"
              >
                <button
                  class="modal-vehicles-open-btn font-regular text-whiteTeal uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded"
                >
                  Contactez nous
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- END CARD VEHICLE-->

        <!-- CARD VEHICLE-->
        <div class="shadow-lg rounded-md">
          <div>
            <a href="#">
              <img
                class="rounded-t-md max-h-[350px] hover:contrast-125 transition"
                src="{% static 'garage/images/vehicles/ford-explorer.webp'%}"
                alt=""
              />
            </a>
          </div>
          <div
            class="flex flex-col flex-nowrap justify-center items-start px-6 py-5"
          >
            <h3 class="font-bold text-lg text-onyx uppercase mb-2">
              Nom et modèle du véhicule : Ford explorer
            </h3>
            <ul
              class="list-disc list-inside text-slate-500 mb-5 lg:mb-8 xl:mb-10"
            >
              <li>Année: <span>2020</span></li>
              <li>Kilométrage: <span>12 000</span> km</li>
            </ul>
            <p class="text-center font-bold text-lg text-onyx my-4">
              30 000<span> €</span>
            </p>
            <div class="self-center">
              <p>Ce véhicule vous intéresse ?</p>
              <div
                class="flex flex-row flex-nowrap justify-center items-center my-2"
              >
                <button
                  class="modal-vehicles-open-btn font-regular text-whiteTeal uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded"
                >
                  Contactez nous
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- END CARD VEHICLE-->

        <!-- CARD VEHICLE-->
        <div class="shadow-lg rounded-md">
          <div>
            <a href="#">
              <img
                class="rounded-t-md max-h-[350px] hover:contrast-125 transition"
                src="{% static 'garage/images/vehicles/ford-explorer.webp'%}"
                alt=""
              />
            </a>
          </div>
          <div
            class="flex flex-col flex-nowrap justify-center items-start px-4 py-5"
          >
            <h3 class="font-bold text-lg text-onyx uppercase mb-2">
              Nom et modèle du véhicule : Ford explorer
            </h3>
            <ul
              class="list-disc list-inside text-slate-500 mb-5 lg:mb-8 xl:mb-10"
            >
              <li>Année: <span>2020</span></li>
              <li>Kilométrage: <span>12 000</span> km</li>
            </ul>
            <p class="text-center font-bold text-lg text-onyx my-4">
              30 000<span> €</span>
            </p>
            <div class="self-center">
              <p>Ce véhicule vous intéresse ?</p>
              <div
                class="flex flex-row flex-nowrap justify-center items-center my-2"
              >
                <button
                  class="modal-vehicles-open-btn font-regular text-whiteTeal uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded"
                >
                  Contactez nous
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- END CARD VEHICLE-->
      </div>
      <div
        class="flex flex-row flex-nowrap justify-center items-center mb-10"
      >
        <a
          class="font-regular text-sm text-whiteTeal bg-rosyBrown hover:brightness-110 hover:scale-105 transition-all active:brightness-110 pt-2 pb-1 px-4 rounded-full"
          href="#"
        >
          Voir plus
        </a>
      </div>
    </div>
  </section>
  <!-- END SECTION VEHICLES LIST-->
  <!-- SECTION MODAL vehicles-->
  <section id="modal-vehicles" class="hidden">
    <div
      class="relative z-10"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
      <div
        class="fixed inset-0 bg-slate-600 bg-opacity-75 transition-opacity"
      ></div>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div
          class="flex justify-center items-end sm:items-center min-h-full p-4 sm:p-0"
        >
          <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
          <div
            class="relative transform overflow-hidden rounded-lg bg-whiteTeal shadow-xl transition-all sm:my-8 w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl"
          >
            <div class="flex flex-row flex-nowrap justify-end">
              <button
                id="modal-vehicles-close-btn"
                class="font-regular text-slate-600 pt-3 pb-2 px-4 sm:pt-4 sm:px-5 drop-shadow-md rounded"
                type="button"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-8 h-8"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
            <div class="px-4 sm:px-8 sm:pb-2 md:px-12 lg:px-16">
              <div class="w-full">
                <div>
                  <h3 class="font-semibold text-onyx mb-8" id="modal-title">
                    Demande de contact
                  </h3>
                  <form
                    id="form-vehicles"
                    class="flex flex-col flex-nowrap justify-center w-full"
                    action=""
                    method="post"
                  >
                    <div class="flex flex-col flex-nowrap mb-4 sm:mb-5 md:mb-6">
                      <label
                        class="text-celestialBlue font-medium text-sm my-1"
                        for="form-vehicles-firstname"
                      >
                        Prénom
                      </label>
                      <input
                        class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus:outline focus:outline-transparent rounded-md h-9 px-2"
                        type="text"
                        name="form-vehicles-firstname"
                        id="form-vehicles-firstname"
                        required
                      />
                    </div>
                    <div class="flex flex-col flex-nowrap mb-4 sm:mb-5 md:mb-6">
                      <label
                        class="text-celestialBlue font-medium text-sm my-1"
                        for="form-vehicles-lastname"
                      >
                        Nom
                      </label>
                      <input
                        class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus:outline focus:outline-transparent rounded-md h-9 px-2"
                        type="text"
                        name="form-vehicles-lastname"
                        id="form-vehicles-lastname"
                        required
                      />
                    </div>
                    <div class="flex flex-col flex-nowrap mb-4 sm:mb-5 md:mb-6">
                      <label
                        class="text-celestialBlue font-medium text-sm my-1"
                        for="form-vehicles-email"
                      >
                        Email
                      </label>
                      <input
                        class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus:outline focus:outline-transparent rounded-md h-9 px-2"
                        type="email"
                        name="form-vehicles-email"
                        id="form-vehicles-email"
                        required
                      />
                    </div>
                    <div class="flex flex-col flex-nowrap mb-4 sm:mb-5 md:mb-6">
                      <label
                        class="text-celestialBlue font-medium text-sm my-1"
                        for="form-vehicles-phoneNumber"
                      >
                        Téléphone
                      </label>
                      <input
                        class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus:outline focus:outline-transparent rounded-md h-9 px-2"
                        type="tel"
                        name="form-vehicles-phoneNumber"
                        id="form-vehicles-phoneNumber"
                        required
                      />
                    </div>
                    <div
                      class="flex flex-col flex-nowrap justify-center w-full my-6"
                    >
                      <div
                        class="flex flex-col flex-nowrap mb-4 sm:mb-5 md:mb-6"
                      >
                        <label
                          class="text-celestialBlue font-medium text-sm my-1"
                          for="form-vehicles-subject"
                        >
                          Sujet
                        </label>
                        <input
                          class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus:outline focus:outline-transparent rounded-md h-9 px-2"
                          type="text"
                          name="form-vehicles-subject"
                          id="form-vehicles-subject"
                          required
                        />
                      </div>
                      <div
                        class="flex flex-col flex-nowrap mb-4 sm:mb-5 md:mb-6"
                      >
                        <label
                          class="text-celestialBlue font-medium text-sm my-1"
                          for="form-vehicles-message"
                        >
                          Message
                        </label>
                        <textarea
                          class="text-onyx border-2 active:border-4 focus:border-4 active:border-celestialBlue focus:border-celestialBlue active:outline-0 focus:outline-0 focus-visible:outline-0 focus-visible:outline focus-visible:outline-transparent rounded-md h-28 sm:h-32 md:h-40 px-2"
                          name="form-vehicles-message"
                          id="form-vehicles-message"
                          cols="30"
                          rows="10"
                          required
                        ></textarea>
                      </div>
                    </div>
                    <div
                      class="py-3 flex flex-row justify-center sm:justify-start"
                    >
                      <div
                        class="flex flex-row flex-nowrap justify-center items-center"
                      >
                        <button
                          id="form-vehicles-submit"
                          class="font-regular text-whiteTeal text-center uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 mt-8 mb-4 drop-shadow-md rounded"
                        >
                          Envoyer
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION MODAL vehicles-->
</main>
{% endblock main %} 
{% block scripts %}
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>
<script src="{% static 'garage/javascript/main.js' %}"></script>
<script src="{% static 'garage/javascript/leaflet.js' %}"></script>
<script src="{% static 'garage/javascript/vehicles-filters.js' %}"></script>
<script src="{% static 'garage/javascript/vehicle-modal.js' %}"></script>
{% endblock %}
