{% extends "garage/base.html" %}
{% load static %}


{% block scripts %}
    <script src="{% static 'garage/javascript/vehicles-list.js' %}" defer></script>
    <script src="{% static 'garage/javascript/modal-vehicle-contact.js' %}" defer></script>
    <script src="{% static 'garage/javascript/modal-messages.js' %}" defer></script>
{% endblock %}

{% block title %}Véhicules d'occasion | Garage V.Parrot à Toulouse{% endblock %}
{% block meta-description %}
    Véhicules d'occasion toutes marques révisés,
    le Garage V.Parrot garantie tous ses véhicules 12 mois pour vous apporter
    l'assurance de repartir avec la voiture de vos rêves en toute sécurité.
{% endblock %}

<!-- MAIN -->
{% block main %}
    <!-- SECTION HEADING-->
    <section class="bg-vehiclesHeadingImg bg-cover bg-center min-h-[280px] md:min-h-[340px]">
        <div class="flex flex-col flex-nowrap justify-center items-center px-6 sm:px-8 md:px-14 py-8 sm:py-10 md:py-12 lg:py-20 xl:container mx-auto">
            <div class="self-start mb-6 sm:mb-8 max-w-xl sm:max-w-2xl md:max-w-none md:w-10/12">
                <h1 class="font-rokkitt font-bold text-2xl lg:text-4xl text-whiteTeal uppercase mb-3 lg:mt-32 drop-shadow-md">
                    Découvrez notre sélection de véhicules d'occasion révisés par notre atelier
                </h1>
                <p class="font-rasa font-semibold text-xl lg:text-2xl text-whiteTeal uppercase drop-shadow-md">
                    Tous nos véhicules sont garantie 12 mois pour réparations, dans notre
                    garage
                </p>
            </div>
        </div>
    </section>
    <!-- END SECTION HEADING-->

    <!-- SECTION VEHICLES FILTER-->
    {% include 'garage/vehicle/filters.html' %}

    <!-- SECTION VEHICLE LIST-->
    <section id="vehicles">
        <div class="lg:container mx-auto flex flex-col flex-nowrap justify-center items-center sm:px-14 pb-14 bg-whiteTeal">
            <h2 class="font-rasa text-xl uppercase mb-4 hidden">
                Liste des véhicules d'occasion
            </h2>
            <div id="vehicles-content"
                 class="grid gap-14 md:gap-x-16 md:gap-y-20 lg:gap-x-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-2 mb-8">
                <!-- VEHICLE LIST -->
                {% for vehicle in page_obj %}
                    <!-- VEHICLE -->
                    {% include 'garage/vehicle/vehicle.html' %}
                {% endfor %}
            </div>
            <!-- VEHICLE LIST PAGINATION-->
            {% include 'garage/vehicle/pagination.html' %}
        </div>
    </section>
    <!-- END SECTION VEHICLE LIST-->

    <!-- SECTION MODAL VEHICLE CONTACT-->
    {% include 'garage/modal/modal-vehicle-contact.html' %}

    <!-- SECTION MODAL MESSAGES-->
    {% include 'garage/modal/modal-messages.html' %}
{% endblock main %}
