<section id="vehicles-filters" class="xl:container mx-auto">
    <div class="flex flex-col xl:flex-row flex-nowrap xl:justify-center items-center px-8 pt-12 pb-4 xl:mx-2">
        <!-- RESET FILTERS BUTTON -->
        <div class="flex flex-row flex-nowrap justify-center items-center xl:mx-6">
            <button id="button-reset-filters"
                    class="font-regular text-whiteTeal text-center uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded">
                Réinitialiser les filtres
            </button>
        </div>
        <!-- END RESET FILTER BUTTON-->

        <div class="flex flex-col flex-nowrap lg:flex-row lg:justify-center items-center w-full my-8">
            <!-- PRICE FILTER-->
            <div class="flex flex-col my-2 lg:mx-4 max-w-md w-full">
                <p class="font-semibold font-onyx mb-4">Prix</p>
                <div class="relative h-6">
                    <label for="range-price-min" hidden>Prix minimum</label>
                    <input id="range-price-min" class="range-filters" type="range"
                           value="{{ filter_price_min }}" min="{{ filter_price_min }}"
                           max="{{ filter_price_max }}" step="{{ filter_price_step }}"/>
                    <label for="range-price-max" hidden>Prix maximum</label>
                    <input id="range-price-max" class="range-filters" type="range"
                           value="{{ filter_price_max }}" min="{{ filter_price_min }}"
                           max="{{ filter_price_max }}" step="{{ filter_price_step }}"/>
                </div>
                <div class="flex justify-between">
                    <p class="onyx w-28 h-fit text-onyx text-sm text-left">
                        <span id="text-price-min"></span> €
                    </p>
                    <p class="onyx w-28 h-fit text-onyx text-sm text-right">
                        <span id="text-price-max"></span> €
                    </p>
                </div>
            </div>
            <!-- END PRICE FILTER-->

            <!-- YEAR FILTER-->
            <div class="flex flex-col my-2 lg:mx-4 max-w-md w-full">
                <p class="font-semibold font-onyx mb-4">Années</p>
                <div class="relative h-6">
                    <label for="range-year-min" hidden>Année minimum</label>
                    <input id="range-year-min" class="range-filters" type="range"
                           value="{{ filter_year_min }}" min="{{ filter_year_min }}"
                           max="{{ filter_year_max }}" step="{{ filter_year_step }}"/>
                    <label for="range-year-max" hidden>Année maximum</label>
                    <input id="range-year-max" class="range-filters" type="range"
                           value="{{ filter_year_max }}" min="{{ filter_year_min }}"
                           max="{{ filter_year_max }}" step="{{ filter_year_step }}"/>
                </div>
                <div class="flex justify-between">
                    <p class="onyx w-28 h-fit text-onyx text-sm text-left">
                        <span id="text-year-min"></span>
                    </p>
                    <p class="onyx w-28 h-fit text-onyx text-sm text-right">
                        <span id="text-year-max"></span>
                    </p>
                </div>
            </div>
            <!-- END YEAR FILTER-->

            <!-- KMs FILTER-->
            <div class="flex flex-col my-2 lg:mx-4 max-w-md w-full">
                <p class="font-semibold font-onyx mb-4">Kilométrage</p>
                <div class="relative h-6">
                    <label for="range-km-min" hidden>Kilométrage minimum</label>
                    <input id="range-km-min" class="range-filters" type="range"
                           value="{{ filter_km_min }}" min="{{ filter_km_min }}"
                           max="{{ filter_km_max }}" step="{{ filter_km_step }}"/>
                    <label for="range-km-max" hidden>Kilométrage maximum</label>
                    <input id="range-km-max" class="range-filters" type="range"
                           value="{{ filter_km_max }}" min="{{ filter_km_min }}"
                           max="{{ filter_km_max }}" step="{{ filter_km_step }}"/>
                </div>
                <div class="flex justify-between">
                    <p class="onyx w-28 h-fit text-onyx text-sm text-left">
                        <span id="text-km-min"></span> Km
                    </p>
                    <p class="onyx w-28 h-fit text-onyx text-sm text-right">
                        <span id="text-km-max"></span> Km
                    </p>
                </div>
            </div>
            <!-- END KMs FILTER-->
        </div>
    </div>
</section>
