<ul class="flex flex-row flex-nowrap justify-center items-center mt-6 mb-10">
    <li>
        <button id="vehicles-start-page"
                class="inline-block font-regular text-sm text-celestialBlue bg-white hover:brightness-110 border-celestialBlue border-2 hover:scale-110 transition-all active:scale-105 h-10 py-2 px-4 rounded-lg mx-1">
            &laquo;
        </button>
    </li>
    <li>
        <button id="vehicles-previous-page"
                class="inline-block font-regular text-sm text-celestialBlue bg-white hover:brightness-110 border-celestialBlue border-2 hover:scale-110 transition-all active:scale-105 h-10 py-2 px-4 rounded-lg mx-1">
        </button>
    </li>
    <li id="vehicles-current-page"
        class="font-regular text-sm text-whiteTeal bg-celestialBlue border-celestialBlue border-2 h-10 py-2 px-4 mx-1 rounded-lg">
    </li>
    <li>
        <button id="vehicles-next-page"
                class="inline-block font-regular text-sm text-celestialBlue bg-white hover:brightness-110 border-celestialBlue border-2 hover:scale-105 transition-all active:scale-105 h-10 py-2 px-4 rounded-lg mx-1">
        </button>
    </li>
    <li>
        <button id="vehicles-end-page"
                class="inline-block font-regular text-sm text-celestialBlue bg-white hover:brightness-110 border-celestialBlue border-2 hover:scale-105 transition-all active:scale-105 h-10 py-2 px-4 rounded-lg mx-1">
            &raquo;
        </button>
    </li>
</ul>
