{% load pictures %}
{% load humanize %}

<div class="shadow-lg rounded-md">
    <div>
        <a href="{% url 'garage:vehicle-detail' vehicle.id %}">
            <div class="overflow-hidden h-auto rounded-t-md">
                <!--{% picture vehicle.pictures.first.picture vehicle.name img_class="object-cover max-h-64 hover:scale-105 hover:brightness-110 transition" img_loading="lazy" %}-->
                <img class="object-cover max-h-64 hover:scale-105 hover:brightness-110 transition"
                     src="../{{ vehicle.pictures.first }}" alt="{{ vehicle.name }}"/>
            </div>
        </a>
    </div>
    <div class="flex flex-col flex-nowrap justify-center items-start px-4 sm:px-5 xl:px-6 py-2 sm:py-3 xl:py-4">
        <h3 title="{{ vehicle.name }}" class="w-full font-bold text-lg text-onyx uppercase truncate mb-2">
            {{ vehicle.name }}
        </h3>
        <ul class="list-disc list-inside text-slate-500 mb-3 lg:mb-4 xl:mb-5">
            <li>Année: <span>{{ vehicle.year }}</span></li>
            <li>Kilométrage: <span>{{ vehicle.km|intcomma }}</span> km</li>
            <li>Énergie: <span>{{ vehicle.energy }}</span></li>
        </ul>
        <p class="font-bold text-lg text-onyx my-4">
            {{ vehicle.price|intcomma }}<span> €</span>
        </p>
        <div class="self-center">
            <div class="flex flex-row flex-nowrap justify-center items-center my-2">
                <a href="{% url 'garage:vehicle-detail' vehicle.id %}"
                        class="font-regular text-whiteTeal uppercase bg-celestialBlue active:bg-darkBlue btn-gradient-animation pt-3 pb-2 px-4 drop-shadow-md rounded">
                    Voir la fiche
                </a>
            </div>
        </div>
    </div>
</div>
